extends layout

block content
  div(class='w3-card-4')
    header(class='w3-container w3-teal')
      h1= m.tit
    div(class='w3-container')
      p Província: #{m.prov}
    footer(class="w3-container")
      h5
        a(href='http://localhost:4000/') Voltar ao inicio

